.downloadFirefox {
    margin-top: 25px;
    height: 30px;
    width: 150px;
    font-size: small;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
    border-radius: 30px;
    background: linear-gradient(90deg, #AB42E4 40%, #7167E6 60%);
    
    &:focus,
    &:hover {
      background: #505486;
    }
  }