@import '~amo/css/styles';

$cell-padding: 6px;

.LanguageTools {
  @include page-padding;
}


.LanguageTools-header{
  @include addon-section;
  @include font-bold;
  @include text-align-start;

  font-size: xx-large;
  color:white;
  height: 28px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: max-content;
  height: max-content;
  padding: 10px;
  width: 100%;
  background: linear-gradient(90deg, rgba(225, 51, 51, 1) 0%, rgba(0, 0, 65, 1) 100%);
}

// .LanguageTools-header{
//   font-size: xx-large;
//   color:black;
//   height: 28px;
//   border-top-left-radius: 20px;
//   border-top-right-radius: 20px;
//   width: max-content;
//   height: max-content;
//   padding: 10px;
// }

.LanguageTools-table {
  width: 100%;
  border-style: ridge;
  border-radius: 20px;
  border-width: 5px;
}

.LanguageTools-header-row {
  background: $grey-30;
  border-radius: 20px;
}

.LanguageTools-header-cell {
  @include text-align-start;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bolder;
  text-align: center;
  font-size: x-large;
  /* global 94%+ browsers support */
  // background: linear-gradient(90deg, rgba(225, 51, 51, 1) 0%, rgba(0, 0, 65, 1) 100%);
  color:black;
  // width: 30%;
  // text-decoration: underline;
}

.LanguageTools-addon-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// We target tags and some very specific classNames (which we tend to avoid
// doing in our styles) because this needs to override rules set by
// `react-super-responsive-table`, which gives us the awesome responsive
// table used on this page but sets some unfortunate default border/padding
// values.
.LanguageTools-table.responsiveTable {
  tbody tr {
    border: 1px solid $grey-30;
    border-bottom: 0;
    padding: 0;
    font-size: 16px;
    &:nth-child(even) {
      background: $grey-20;
      color: black;
    }
    &:nth-child(odd){
      background: white;
      color:black;
    }
    &:hover {
      background-color: wheat;
    }
    &:last-child {
      border-bottom: 1px solid $grey-30;
    }
  }

  th,
  td {
    border: 0;
    padding: $cell-padding;
  }

  td {
    min-height: $font-size-default + (2 * $cell-padding);
  }
}


.LanguageTool-localeName {
  @include respond-to(large) {
    width: 25%;
  }
}

// css to tidy up the text on top
.dictionaryText, .dictionaryText2{
  width: 50%;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
}

// card header text 
.Card-header {
  font-size: 45px; 
  color: white; 
  background: linear-gradient(90deg, rgba(225, 51, 51, 1) 0%, rgba(0, 0, 65, 1) 100%);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

// .Card-contents{
//   color: white; 
//   background: linear-gradient(90deg, rgba(225, 51, 51, 1) 0%, rgba(0, 0, 65, 1) 100%); 
// }

.LanguageTools-in-your-locale-list{
  background: white;
  width: 48%;
  opacity: 70%;
  border-radius:20px;
}