@import '~amo/css/styles';

.LandingPage {
  @include page-padding;
}

.LandingPage-header {

  display: flex;
  background: rgb(28, 0, 47);
  background: linear-gradient(90deg, rgba(28, 0, 47, 1) 40%, rgba(130, 104, 142, 0.9626444327731093) 70%);

  border-radius: $border-radius-default;
  margin-bottom: 12px;
  padding: 20px; /* Reduce the vertical padding */
  height: 200px; /* Set a fixed height for the header */
  overflow: hidden; /* Hide any content that exceeds the container height */
  align-items: center;

  @include respond-to(medium) {
    padding: 36px; /* Adjust the padding as needed */
    height: 400px; /* Adjust the height as needed */
  }

  @include respond-to(large) {
    margin-bottom: 24px;
  }
}

.LandingPage-addonType-name {
  @include font-bold;
  color:white;
  font-size: $font-size-heading-s;
  margin: 0 0 6px;

  @include respond-to(medium) {
    font-size: $font-size-heading-m;
    margin: 0 0 12px;
  }
}

.LandingPage-heading-content {
  @include font-regular;
  font-family: Inter, sans-serif;
  color:white;
  font-weight: bolder;
  font-size: $font-size-s;
  margin: 0;
  max-width: 600px;

  @include respond-to(medium) {
    font-size: $font-size-l;
  }
}

.LandingPage .Categories {
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}


.header-content {
  flex: 1;
}

.heroimages {
  height: 600px;
  width: 650px;
  border-radius: 1px;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.heroimages--theme{
  height: 400px;
  width: 750px;
  border-radius: 1px;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  align-items: center;
}


.downloadbutton {
  height: 35px;
  width: 180px;
  font-size: large;
  font-style:inherit;
  font-family: sans-serif;
  color: white;
  border-radius: 30px;
  background: linear-gradient(90deg, rgb(161, 64, 225) 45%, rgb(83, 128, 218) 70%);

  &:active,
  &:focus,
  &:hover {
    background: rgb(56, 87, 149);
  }
}