@import '~amo/css/styles';

.LandingPage {
  @include page-padding;
}

.LandingPage-header {
  display: flex; /* Use flexbox */
  align-items: center; /* Align items vertically */
  background: rgb(28,0,47);
  background: linear-gradient(90deg, rgba(28,0,47,1) 47%, rgba(130,104,142,0.9626444327731093) 73%);
  border-radius: $border-radius-default;
  margin-bottom: 12px;
  padding: 24px;

  @include respond-to(medium) {
    padding: 48px 36px;
  }

  @include respond-to(large) {
    margin-bottom: 24px;
  }
}

.LandingPage-button {
  width: 100%;

  @include respond-to(medium) {
    display: none;
  }
}

.LandingPage-addonType-name {
  @include font-bold;
  color:white;
  font-size: $font-size-heading-s;
  margin: 0 0 6px;

  @include respond-to(medium) {
    font-size: $font-size-heading-m;
    margin: 0 0 12px;
  }
}

.LandingPage-heading-content {
  @include font-regular;
  font-family: Inter, sans-serif;
  color:white;
  font-weight: bolder;
  font-size: $font-size-s;
  margin: 0;
  max-width: 600px;

  @include respond-to(medium) {
    font-size: $font-size-l;
  }
}

.LandingPage .Categories {
  display: none;

  @include respond-to(medium) {
    display: block;
  }
}

// hero image css
.header-content {
  flex: 1; /* Take remaining space */
}

.heroImages {
  height: 340px;
  width: 500px;
  border-radius: 30px;
}

// extension button css
.extensionButton {
  height: 50px;
  width: 200px;
  font-size: large;
  font-weight: bolder;
  font-family: Inter, sans-serif;
  color: white;
  border-radius: 30px;
  background: linear-gradient(90deg, rgba(178,70,252,1) 45%, rgba(78,136,255,1) 80%);

  &:focus,
  &:hover {
    background: #8088fc;
  }
}