@import '~amo/css/styles';

<<<<<<< HEAD
.GetFirefoxBanner {
=======
// .GetFirefoxBanner {
//   @include respond-to(extraLarge) {
//     border-radius: 0 0 $border-radius-m $border-radius-m;
//     width: 890px;

//     .Notice-content {
//       max-width: 590px;
//     }
//   }

//   border-radius: 0;
//   box-shadow: 0 1px 7px transparentize($black, 0.5);
//   color: $grey-90;
//   font-size: $font-size-s;
//   left: 50%;
//   padding: 12px 40px;
//   position: fixed;
//   text-align: center;
//   transform: translate(-50%, 0);
//   width: 100%;
//   z-index: 1000;

//   &.Notice {
//     align-items: center;
//     display: flex;
//     justify-content: center;

//     .Notice-icon {
//       display: none;
//     }

//     .Notice-column {
//       margin: auto 0;
//     }

//     .Notice-dismisser {
//       position: absolute;
//       right: 12px;
//     }
//   }
// }

.GetFirefoxBanner-button {
  &,
  &:link {
    color: $link-color;
  }
}


.popup {
>>>>>>> kevinfrontend
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 9;
  animation: popup-show 2s ease-in-out forwards;
}

@keyframes popup-show {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.closebtn {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  color: $grey-90;
  font-size: $font-size-s;
  padding: 100px; 
  box-sizing: border-box;
}

  
.Notice-content {
  position: center;
  max-width: 1000px;
  max-height: 800px;
  font-size: medium;
  color: white;
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(252, 84, 37, 0.88));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(252, 84, 37, 0.88));
  border-radius: 25px;
  padding: 250px;
  
}

.Notice-dismisser {
  position: fixed;
  color: white;
  top: 27%; 
  right: 27%;
  z-index: 9999;

max-height: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  color: whitesmoke;
  border-radius: 10px;
  padding: 350px; 
  overflow: hidden; 
}

.HeroRecommendation-link {
  background-color: transparent;
  border: 4px solid $white;
  display: inline-block;
  font-size: $font-size-l;
  padding: 12px 24px;
  text-align: center;

  // The theme styles will add a hover effect.
  transition: background-color $transition-medium ease-in-out;
  white-space: nowrap;
  width: fit-content;

  &,
  &:active,
  &:link,
  &:hover,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  @include respond-to(medium) {
    padding: 12px 48px;
  }
}
=======
  align-items: center;
}

.closebtn:hover {
  color: #f00;
}

.popup-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.download-button:hover {
  background-color: #3e8e41;
}

.popup-content h2 {
  display: block;
  text-align: center;
  position: relative;
}

.popup-content h5 {
  display: block;
  text-align: center;
  position: relative;
  font-size: 18px;
}

.popup-content h5 a {
  color: blue;
  text-decoration: none;
}

.popup-content h5 a:hover {
  text-decoration: underline;
}

.popup-content h2::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.extension-container {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.extension {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin: 0 10px; /* Add some spacing between extensions */
}

.extension img {
width: 64px; /* Adjust the width as needed */
height: auto; /* Maintain aspect ratio */
margin-bottom: 10px; /* Add some spacing between the image and text */
}


/* -------------------------------- */
>>>>>>> kevinfrontend
