.popup {
  position: fixed;
  bottom: 50px;
  right: 20px;
  border-radius: 30px;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 9;
  animation: popup-show 2s ease-in-out forwards;
}

@keyframes popup-show {
  from { transform: scale(0); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.popup-content1 {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.popup-content3 {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.popup-content4 {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.popup-content5 {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.closebtn {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closebtn:hover {
  color: #f00;
}

.popup-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.download-button:hover {
  background-color: #3e8e41;
}



.progress-bar-container {
  width: 50%;
  height: 10px; /* Adjust height as needed */
  background-color: #f0f0f0; /* Background color of the progress bar container */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 10px; /* Add some space below the progress bar */
  margin-left: 130px;
  right: 60px;
}

// .progress-bar1 {
//   height: 100%;
//   background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%); /* Color of the progress bar */
//   border-radius: 5px; /* Rounded corners */
//   transition: width 0.3s ease-in-out; /* Smooth transition effect */
//   right:70px;
// }
.progress-bar2 {
  height: 100%;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%); /* Color of the progress bar */
  border-radius: 5px; /* Rounded corners */
  transition: width 0.3s ease-in-out; /* Smooth transition effect */
  right:70px;
}
.progress-bar3 {
  height: 100%;
  background-image: linear-gradient(90deg, rgba(0,128,120,1) 22%, rgba(252,49,49,1) 59%, rgba(248,254,68,1) 78%); /* Color of the progress bar */
  border-radius: 5px; /* Rounded corners */
  transition: width 0.3s ease-in-out; /* Smooth transition effect */
  right:70px;
}
.progress-bar4 {
  height: 100%;
  background-image: linear-gradient(90deg, rgba(178,70,252,1) 32%, rgba(232,63,251,1) 53%);/* Color of the progress bar */
  border-radius: 5px; /* Rounded corners */
  transition: width 0.3s ease-in-out; /* Smooth transition effect */
  right:70px;
}
.progress-bar5 {
  height: 100%;
  background-image: linear-gradient(90deg, rgba(178,70,252,1) 20%, rgba(232,63,251,1) 48%, rgba(255,102,11,1) 89%); /* Color of the progress bar */
  border-radius: 5px; /* Rounded corners */
  transition: width 0.3s ease-in-out; /* Smooth transition effect */
  right:70px;
}

.extension-container {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.extension {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
margin: 0 10px; /* Add some spacing between extensions */
}

.extension img {
width: 64px; /* Adjust the width as needed */
height: auto; /* Maintain aspect ratio */
margin-bottom: 10px; /* Add some spacing between the image and text */
}

/* Modal Styles */
.modal {
display: none;
position: fixed;
z-index: 10;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
align-items: flex-start;
}

.modal-content {
background-color: #fefefe;
margin: 20px auto;
padding: 20px;
border: 1px solid #888;
width: 40%;
max-width: 500px;
position: relative;
}

.close-modal {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

.modal-buttons {
display: flex;
justify-content: center;
margin-top: 20px;
}

.modal-buttons button {
margin: 0 10px;
padding: 8px 16px;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

.modal-buttons button:hover {
background-color: #3e8e41;
}


/* -------------------------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  border:none;
  outline: none;
  cursor: pointer;
}


section{
  // max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 0 1rem;
}
h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}


p{
  font-size: 2rem;
}


.chat-popup{
  display: none;
  position: fixed;
  bottom:50px;
  right:50px;
  height: 480px;
  width: 400px;
  background-color:white;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  border-radius: 10px;
  animation: popup-show 2s ease-in-out forwards;
}


@keyframes popup-show {
from { transform: scale(0); opacity: 0; }
to { transform: scale(1); opacity: 1; }
}

.show{
  display: flex;
}

.ad-area{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ad-title{
  /* align-items: center; */
  color: black;
  /* padding:0.1rem; */
  padding-bottom: 1px;
  justify-content:space-between;
  /* border-radius: 85px; */
  /* margin-left: 1rem; */
  box-shadow: 0 5px 5px rgba(0.2,0.2,0.2,0.4);
}

// .close-chat{
//   position: absolute;
//   font-size: medium;
//   width: 30px;
//   height: 30px;
//   background: rgb(2,0,36);
//   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
//   color:white;
//   border-radius: 50%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top:-10px;
//   right: -10px;
// }

.title{
  font-size: 2rem;
  font-family: "Gill Sans", sans-serif;
}


@media (max-width:500px){

  .chat-popup{
      bottom: 10px;
      right:10%;
      width: 80vw;
  }
}


// .button-77 {
//   align-items: center;
//   appearance: none;
//   /* background-clip: padding-box; */
//   background-color: initial;
//   box-sizing: border-box;
//   color: #fff;
//   cursor: pointer;
//   display: inline-block;
//   flex-direction: row;
//   flex-shrink: 0;
//   font-family: Eina01,sans-serif;
//   font-size: 16px;
//   font-weight: 800;
//   justify-content: center;
//   line-height: 24px;
//   margin: 0;
//   min-height: 2px;
//   overflow: visible;
//   padding: 10px 10px;
//   pointer-events: auto;
//   position: relative;
//   text-align: center;
//   touch-action: manipulation;
//   vertical-align: middle;
//   width: 85%;
//   word-break: keep-all;
//   z-index: 0;
// }

// @media (min-width: 300px) {
//   .button-77 {
//     padding: 10px 10px;
//   }
// }

// .button-77:before,
// .button-77:after {
//   border-radius: 80px;
// }

// .button-77:before {
//   background-color: rgba(20, 200, 100, .50);
//   content: "";
//   display: block;
//   height: 100%;
//   left: 0;
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   width: 100%;
//   z-index: -2;
// }

// .button-77:after {
//   background-color: initial;
//   background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
//   bottom: 4px;
//   content: "";
//   display: block;
//   left: 4px;
//   overflow: hidden;
//   position: absolute;
//   right: 4px;
//   top: 4px;
//   transition: all 100ms ease-out;
//   z-index: -1;
// }

// .button-77:hover:not(:disabled):after {
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   transition-timing-function: ease-in;
// }

// .button-77:active:not(:disabled) {
//   color: #ccc;
// }

// .button-77:active:not(:disabled):after {
//   background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
//   bottom: 4px;
//   left: 4px;
//   right: 4px;
//   top: 4px;
// }

#ad-view{
  position: relative;
}

.monitor-ad-pic{
  object-fit:fill;
  width: 300px;
  height: 250px;
}

.monitor-logo{
  width: 200px;
  height: 70px;
  padding-left: 10px;
  padding-top: 5px;
}

.text{
  color: black;
  font-size: 1.2em;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2% ;
}


#close-chat2{
  position: absolute;
  font-size: larger;
  width: 30px;
  height: 30px;
  background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 48%, rgba(131,58,180,1) 89%, rgba(131,58,180,1) 99%);

  color:white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-10px;
  right: -10px;
}

.button-78 {
  align-items: center;
  appearance: none;
  /* background-clip: padding-box; */
  background-color: initial;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 2px;
  overflow: visible;
  padding: 10px 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  width: 85%;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 300px) {
  .button-78 {
    padding: 10px 10px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-color: rgba(249, 58, 19, .32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-78:active:not(:disabled) {
  color: #ccc;
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.text2{
  color: white;
  font-size: 1.2em;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2% ;
}

.popup-content2 {
  background-color: black;
  padding: 20px;
  border-radius: 30px;
  max-width: 500px;
  position: relative;
  text-align: center;
}

.title2{
  font-size: 2rem;
  font-family: "Gill Sans", sans-serif;
}
.ad-area2{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ad-title2{
  /* align-items: center; */
  color: white;
  /* padding:0.1rem; */
  padding-bottom: 2px;
  justify-content:space-between;
  border-radius: 15px;
  /* margin-left: 1rem; */
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
}

.button-79 {
  align-items: center;
  appearance: none;
  /* background-clip: padding-box; */
  background-color: initial;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 2px;
  overflow: visible;
  padding: 10px 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  width: 85%;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 300px) {
  .button-79 {
    padding: 10px 10px;
  }
}

.button-79:before,
.button-79:after {
  border-radius: 80px;
}

.button-79:before {
  background-color: rgb(249, 203, 19);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-79:after {
  background-color: initial;
  background-image: linear-gradient(90deg, rgba(0,128,120,1) 22%, rgba(252,49,49,1) 59%, rgba(248,254,68,1) 78%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-79:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-79:active:not(:disabled) {
  color: #ccc;
}

.button-79:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

#close-chat3{
  position: absolute;
  font-size: larger;
  width: 30px;
  height: 30px;
  background: rgb(0,128,120);
  background: linear-gradient(90deg, rgba(0,128,120,1) 22%, rgba(252,49,49,1) 59%, rgba(248,254,68,1) 78%);
  color:white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-10px;
  right: -10px;
}

#close-chat4{
  position: absolute;
  font-size: larger;
  width: 30px;
  height: 30px;
  background: rgb(178,70,252);
  background: linear-gradient(90deg, rgba(178,70,252,1) 32%, rgba(232,63,251,1) 53%);
  color:white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-10px;
  right: -10px;
}


.button-80 {
  align-items: center;
  appearance: none;
  /* background-clip: padding-box; */
  background-color: initial;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 2px;
  overflow: visible;
  padding: 10px 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  width: 85%;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 300px) {
  .button-80 {
    padding: 10px 10px;
  }
}

.button-80:before,
.button-80:after {
  border-radius: 80px;
}

.button-80:before {
  background-color:  rgb(178,70,252);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-80:after {
  background-color: initial;
  background-image: linear-gradient(90deg, rgba(178,70,252,1) 32%, rgba(232,63,251,1) 53%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-80:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-80:active:not(:disabled) {
  color: #ccc;
}

.button-80:active:not(:disabled):after {
  background-image: linear-gradient(90deg, rgba(178,70,252,1) 32%, rgba(232,63,251,1) 53%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}


#close-chat5{
  position: absolute;
  font-size: larger;
  width: 30px;
  height: 30px;
  background: rgb(178,70,252);
  background: linear-gradient(90deg, rgba(178,70,252,1) 20%, rgba(232,63,251,1) 48%, rgba(255,102,11,1) 89%);
  color:white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top:-10px;
  right: -10px;
}


.button-81 {
  align-items: center;
  appearance: none;
  /* background-clip: padding-box; */
  background-color: initial;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 2px;
  overflow: visible;
  padding: 10px 10px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  width: 85%;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 300px) {
  .button-81 {
    padding: 10px 10px;
  }
}

.button-81:before,
.button-81:after {
  border-radius: 80px;
}

.button-81:before {
  background-color:  rgb(178,70,252);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-81:after {
  background-color: initial;
  background-image: linear-gradient(90deg, rgba(178,70,252,1) 20%, rgba(232,63,251,1) 48%, rgba(255,102,11,1) 89%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-81:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-81:active:not(:disabled) {
  color: #ccc;
}

.button-81:active:not(:disabled):after {
  background-image: linear-gradient(90deg, rgba(178,70,252,1) 20%, rgba(232,63,251,1) 48%, rgba(255,102,11,1) 89%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

// #prevButton1{
//   position: absolute;
//   font-size: small;
//   width: 100px;
//   height: 30px;
//   background: rgb(2,0,36);
//   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
//   color:white;
//   border-radius: 20px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top: 10px;
//   right: 395px;
// }

#prevButton2{
position: absolute;
font-size: small;
width: 100px;
height: 30px;
background: rgb(253,29,29);
background: linear-gradient(90deg, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 48%, rgba(131,58,180,1) 89%, rgba(131,58,180,1) 99%);
color:white;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
top: 10px;
right: 395px;
}

#prevButton3{
position: absolute;
font-size: small;
width: 100px;
height: 30px;
background: rgb(0,128,120);
background: linear-gradient(90deg, rgba(0,128,120,1) 22%, rgba(252,49,49,1) 59%);
color:white;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
top: 10px;
right: 395px;
}

#prevButton4{
position: absolute;
font-size: small;
width: 100px;
height: 30px;
background: rgb(178,70,252);
background: linear-gradient(90deg, rgba(178,70,252,1) 32%, rgba(232,63,251,1) 53%);
color:white;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
top: 10px;
right: 380px;
}
#prevButton5{
position: absolute;
font-size: small;
width: 100px;
height: 30px;
background: rgb(178,70,252);
background: linear-gradient(90deg, rgba(178,70,252,1) 20%, rgba(232,63,251,1) 48%, rgba(255,102,11,1) 89%);
color:white;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
top: 10px;
right: 395px;
z-index: 10000;
}



 /* comal code */
// .ad-area1{
//   height: 100%;
//   overflow-y: auto;
//   overflow-x: hidden;
// }

// .ad-title1{
//   /* align-items: center; */
//   color: black;
//   /* padding:0.1rem; */
//   padding-bottom: 1px;
//   justify-content:space-between;
//   /* border-radius: 85px; */
//   /* margin-left: 1rem; */
//   box-shadow: 0 5px 5px rgba(0.2,0.2,0.2,0.4);
// }

// .text1{
//   color: black;
//   font-size: 1.2em;
//   width: 70%;
//   margin: 0 auto;
//   padding-bottom: 2% ;
// }

// .title1{
//   font-size: 2rem;
//   font-family: "Gill Sans", sans-serif;
// }

.ad-area3{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ad-title3{
  /* align-items: center; */
  color: black;
  /* padding:0.1rem; */
  padding-bottom: 1px;
  justify-content:space-between;
  /* border-radius: 85px; */
  /* margin-left: 1rem; */
  box-shadow: 0 5px 5px rgba(0.2,0.2,0.2,0.4);
}

.text4{
  color: black;
  font-size: 1.2em;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2% ;
}

.title4{
  font-size: 2rem;
  font-family: "Gill Sans", sans-serif;
}


.ad-area5{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.ad-title5{
  /* align-items: center; */
  color: black;
  /* padding:0.1rem; */
  padding-bottom: 1px;
  justify-content:space-between;
  /* border-radius: 85px; */
  /* margin-left: 1rem; */
  box-shadow: 0 5px 5px rgba(0.2,0.2,0.2,0.4);
}

.text5{
  color: black;
  font-size: 1.2em;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2% ;
}

.title5{
  font-size: 2rem;
  font-family: "Gill Sans", sans-serif;
}


.pocket-logo{
  height:100px;
  width:auto;
}

.relay-ad-pic{
  height:200px;
  width:auto;
}